@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap");

* {
    background-color: #ecf0ff;
    margin: 1%;
    padding: 0.5%;
}

body {
    font-family: "Montserrat", sans-serif;
}

#welcome {
    text-align: center;
}

/* #personal_details{
    width:25%;
    margin:0px auto;
} */
#personal_details {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0px auto;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#personal_details input {
    border-radius: 5px;
    padding: 0.75rem;
    width:75%;
}
#button{
    display:flex; 
    align-items:center;justify-content: center;
}
#button, #submit, #back{
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}
#log{
    padding: 0.75rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
}
.current{
    font-size:bold;
}
.question {
    font-size: 1.2em;
}

.category {
    font-size: 1.2em;
}

#result {
    width: 70%;
    margin: 0px auto;
    font-size: 1.3em;
    text-align: center;
}

.question_no {
    background-color: rgb(140, 133, 240);
    box-shadow: 5px 5px 4px #888888;
}

#start_quiz:hover,
.new_game:hover,
#button:hover {
    cursor: pointer;
    font-weight: bold;
    box-shadow: 5px 5px 4px #888888;
}

#start_quiz:active,
.new_game:active,
#button:active {
    box-shadow: 0 5px #666;
    transform: translateY(2px);
}
.try_again{
    padding: 0.75rem;
    box-shadow: 5px 5px 4px #888888;
    font-size: 1.2rem;
    border-radius: 5px;
}